/* strat main variable */

:root {
    /* ### Background */
    --RadialGradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
    /* ## Colors

    ### Primary */
    --ScissorsGradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
    --PaperGradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
    --RockGradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
    --LizardGradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
    --Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
    /* ### Neutral */
    --DarkText: hsl(229, 25%, 31%);
    --ScoreText: hsl(229, 64%, 46%);
    --HeaderOutline: hsl(217, 16%, 45%);
}


/* end main variable */


/*start basic css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    max-height: 100vh;
}


/*end basic css */


/* start global class */

.container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    height: 100vh;
}


/* start medai  */

@media (min-width: 767px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 767px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 350px) {
    .container {
        width: 90%;
    }
}


/* end medai  */


/* end global class */


/* start game  */

.game {
    min-height: 100vh;
    background-image: linear-gradient(var(--RadialGradient));
}

.game-heder {
    border-radius: 10px;
    width: 450px;
    border: 3px solid #777;
    padding: 10px 17px;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    margin: 10px auto 50px auto;
}

.game-titel {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
}

.game-titel .game-name {
    width: 100%;
    margin: -2px;
    text-transform: uppercase;
    color: #fff;
}

.game-score {
    padding: 0 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #fff;
    background-color: #fff;
}

.game-score span {
    display: inline-block;
    width: 100%;
}

.game-score .scoring {
    padding-top: 5px;
    color: rgba(55, 55, 228, 0.74);
    text-transform: uppercase;
}

.game-score .number-score {
    font-size: 20px;
    color: #777;
}


/* end game  */


/* start game-content */

.game-content {
    position: relative;
    max-width: 300px;
    margin: auto;
}

.background-img {
    max-width: 300px;
}

.background-img img {
    margin-top: 50px;
    max-width: 300px;
    max-height: 200px;
}

.imges {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 50px);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "cut cut cut cut cut cut" "spock spock spock paper paper paper" "lizard lizard lizard rock rock rock";
}

.imges div {
    max-height: 60px;
    max-width: 60px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
}

.imges div img {
    width: 50%;
    height: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
    margin-left: 3px;
}

.imges div:nth-child(4) {
    grid-area: cut;
    margin: 14px 0px 0 114px;
    box-shadow: 0px 0px 0px 7px hsl(39, 89%, 49%), 0px 1px 0 9px hsl(40, 84%, 53%);
}

.imges div:nth-child(5) {
    margin-left: 15px;
    border-radius: 50%;
    grid-area: spock;
    box-shadow: 0px 0px 0px 7px hsl(189, 59%, 53%), 0px 1px 0 9px hsl(189, 58%, 57%);
}

.imges div:nth-child(2) {
    margin-left: 60px;
    grid-area: paper;
    box-shadow: 0px 0px 0px 7px hsl(230, 89%, 62%), 0px 1px 0 9px hsl(230, 89%, 65%);
}

.imges div:nth-child(1) {
    grid-area: lizard;
    box-shadow: 0px 0px 0px 7px hsl(261deg 73% 60%), 0px 1px 0 9px hsl(261deg 72% 63%);
    margin-top: 10px;
    margin-left: 55px;
}

.imges div:nth-child(3) {
    grid-area: rock;
    box-shadow: 0px 0px 0px 7px hsl(349, 71%, 52%), 0px 1px 0 9px hsl(349, 70%, 56%);
    margin-top: 10px;
    margin-left: 26px;
}


/* end game-content */


/* start button */

.button {
    position: fixed;
    padding: 5px 20px;
    background: none;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    bottom: 2%;
    right: 2%;
    font-size: 10px;
    cursor: pointer;
}

.button:focus {
    outline: none;
}


/* end button */


/* strat rulse */

.rulse::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 19, 16, 0.342);
    opacity: .7;
}

.rulse {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.icon-close {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    z-index: 100;
}

.icon-close h3 {
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: hsl(229, 25%, 31%);
}

.icon-close img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 100;
}

.rulse-bonus {
    width: 300px;
    height: 310px;
    background-color: #fff;
    z-index: 100;
}

.img-main-rulse {
    width: 236px;
    z-index: 100;
}


/* end rulse */


/* start level tow choice  */

.choice {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.your-choice,
.com-choice {
    display: flex;
    flex-wrap: wrap;
}

.your-choice h3,
.com-choice h3 {
    font-weight: 100;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
}

.your-choice img,
.com-choice img {
    margin: 20px auto 0 auto;
}

#your-choice {
    padding: 21px;
    border-radius: 23%;
    background-color: #fff;
}

#com-choice {
    padding: 21px;
    border-radius: 23%;
    background-color: #fff;
}

.lizard {
    box-shadow: 0px 0px 0px 7px hsl(261deg 73% 60%), 0px 1px 0 9px hsl(261deg 72% 63%);
}

.paper {
    box-shadow: 0px 0px 0px 7px hsl(230, 89%, 62%), 0px 1px 0 9px hsl(230, 89%, 65%);
}

.rock {
    box-shadow: 0px 0px 0px 7px hsl(349, 71%, 52%), 0px 1px 0 9px hsl(349, 70%, 56%);
}

.scissors {
    box-shadow: 0px 0px 0px 7px hsl(39, 89%, 49%), 0px 1px 0 9px hsl(40, 84%, 53%);
}

.spock {
    box-shadow: 0px 0px 0px 7px hsl(189, 59%, 53%), 0px 1px 0 9px hsl(189, 58%, 57%);
}

.res {
    margin-top: 100px;
}

.res-res {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.res-btn {
    margin-top: 5px;
    padding: 5px 28px;
    background-color: #fff;
    color: #777;
    border-radius: 5px;
    border: 1px solid #777;
    cursor: pointer;
}


/* end level tow  choice */